/* Component Stylesheet 
============================================================
============================================================*/

body {
	margin:0;
	padding:0;
	font-family: 'Vollkorn', serif;
	background-color: #2ecc71;
	color: #000000;
	overflow-x:hidden;

}

section img {
	width: 50em;
	border-radius: 1em;
	margin: 0 auto;
	display: block;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 60px;
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    padding-left: 20px;
    border-bottom: 5px solid #ddd;
    text-align: center;
    z-index: 1;

}

header img {
	width: 3em;
	top: 0.25em;
	right: 0.1em;
	position: relative;
}

header.clone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down header.clone {
    transform: translateY(0);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navigation{
-webkit-backface-visibility: hidden;
z-index: 5;
position: fixed;
top: 50%;
right: 16px;
margin-top: -40px;
}


.navigation li{
height: 20px;
}

.navigation a{
display: block;
width: 13px;
height: 13px;
text-indent: -9999px;
border-radius:25px;
background-color:#2980b9;
}

.navigation a:hover{
border-radius:25px;
background-color:#3498db;
}
.navigation a.active{
border-radius:25px;
background-color:#d35400;
}

h1 {
	font-size: 45px;
	font-family: 'Philosopher', sans-serif;
	font-weight: 800;
	text-align: center;
	margin-top: 1em;
}

/* COMPONENTS*/

section {
	word-break: keep-all;
}

section .component div {
	width: 65%;
	display: block;
	margin: 0 auto;
	padding-top: 1.5em;
}

.component-one {
	background-color: #ecf0f1;
}

.component-two {
	background-color: #c0392b;
	color: #ffffff;
}

.component-three {
	background-color: #f39c12;
}

.component-four {
	background-color: #34495e;
	color: #ffffff;
}

.component-five {
}

/*////////////////*/

.rectangle-list {
	position: static;
	padding-bottom: 2em; 
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #fff;
    border-radius: 0.5em;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.rectangle-list ul:last-child {
	padding-bottom: 2em;
}

.rectangle-list a:hover{
    background: #ddd;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    border-radius: 5px;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}   

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

ol ol a:before {
	background: #a468bd !important;
}

/*Styling*/
@media only screen and (max-width: 1167px) {
	
	body{
		width: 100%;
		margin: 0;
	}

	.component img {
		width: 98%;
	}

    section .component div {
        width: 90%;
    }

	header {
		font-size: 1em;
	}
}
