body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 0;
}

#newsletter {
	background-image: url('images/bg.jpg');
	background-repeat:no-repeat;
    background-size:cover;
	padding: 235px 0 235px 0;
}

#newsletter h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 35px;
}

#newsletter p {

}

form {
	position: relative;
}

input {
    margin: 0 auto;
    -webkit-appearance: none;
    outline: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 15px 350px 15px 33px;
    line-height: 22px;
    color: #333333;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 300;
    height: 55px;
    border-radius: 50px;
    position: relative;
    left: 80px;
}

button {
	position: relative;
	right: 80px;
	display: inline-block;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
    outline: none;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    font-size: 14px;
    line-height: 1;
    padding: 19px 44px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #47d3a0;
    border-color: #47d3a0;
}