<html>
<head>
	<meta charset="UTF-8">
	<title>Component 5</title>

	<link href="component.css" rel="stylesheet" type="text/css">
	<link href="css/tags.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

</head>

<body>

<section id="newsletter">

	<article>
		<h1>Newsletter</h1>
		<p>Subscribe to our newsletter to receive news, updates, and another stuff by email.</p>

		<form action="">
			<input type="text" placeholder="Enter your e-mail">
			<button type="submit">Subscribe</button>
		</form>
	</article>
	
</section>
	
</body>

</html>