<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WSP Component 2: Mohammad Khan</title>
<link href="component.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>

<h1 style="margin:150px auto 30px auto; text-align:center; color:#fff; font-family: 'Lato';">Testimonials</h1>

<div id="carousel">
  <div id="slides">
    <ul>
      <li class="slide">
        <div class="quoteContainer">
          <p class="quote-phrase"><span class="quote-marks">"</span> Thanks guys, keep up the good work! It fits our needs perfectly. I have gotten at least 50 times the value from Dzine.
		  <span class="quote-marks">"</span> </p>
        </div>
        <div class="authorContainer">
          <p class="quote-author">- Prasad</p>
        </div>
      </li>
      <li class="slide">
        <div class="quoteContainer">
          <p class="quote-phrase"><span class="quote-marks">"</span> Thank You! It's the perfect solution for our business. You've saved our business!
           <span class="quote-marks">"</span> </p>
        </div>
        <div class="authorContainer">
          <p class="quote-author">- Karoline B.</p>
        </div>
      </li>
      <li class="slide">
        <div class="quoteContainer">
          <p class="quote-phrase"><span class="quote-marks">"</span>It fits our needs perfectly. Not able to tell you how happy I am with Dzine. Dzine has got everything I need. Very easy to use.
		  <span class="quote-marks">"</span> </p>
        </div>
        <div class="authorContainer">
          <p class="quote-author">- Kevan G.</p>
        </div>
      </li>
    </ul>

  </div>
    <div class="btn-bar">
    <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script>
$(document).ready(function () {
    var speed = 5000;
    
    var run = setInterval(rotate, speed);
    var slides = $('.slide');
    var container = $('#slides ul');
    var elm = container.find(':first-child').prop("tagName");
    var item_width = container.width();
    var previous = 'prev'; 
    var next = 'next'; 
    slides.width(item_width); 
    container.parent().width(item_width);
    container.width(slides.length * item_width); 
    container.find(elm + ':first').before(container.find(elm + ':last'));
    resetSlides();
    
    
    
    $('#buttons a').click(function (e) {
        
        if (container.is(':animated')) {
            return false;
        }
        if (e.target.id == previous) {
            container.stop().animate({
                'left': 0
            }, 1500, function () {
                container.find(elm + ':first').before(container.find(elm + ':last'));
                resetSlides();
            });
        }
        
        if (e.target.id == next) {
            container.stop().animate({
                'left': item_width * -2
            }, 1500, function () {
                container.find(elm + ':last').after(container.find(elm + ':first'));
                resetSlides();
            });
        }
        
        return false;
        
    });
    
    container.parent().mouseenter(function () {
        clearInterval(run);
    }).mouseleave(function () {
        run = setInterval(rotate, speed);
    });
    
    
    function resetSlides() {
        container.css({
            'left': -1 * item_width
        });
    }
    
});

function rotate() {
    $('#next').click();
}
</script>

</body>
</html>
