<html>
<head>
	<meta charset="UTF-8">
	<title>Component 1</title>

	<link href="component.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

</head>

<body>

	<div id="header">
		<nav>
			<h1>travel</h1>
			<ul id="right-menu">
			  <li class="active"><a href="#about">HOME</a></li>
			  <li><a href="#about">ABOUT</a></li>
			  <li><a href="#about">SERVICES</a></li>
			  <li><a href="#about">NEWS</a></li>
			  <li><a href="#about">BLOG</a></li>
			  <li><a href="#about">CONTACT</a></li>
			</ul>
		</nav>
	</div>
	
	<section id="slider">
		<ul class="buttons">
			<li class="active"></li>
			<li></li>
			<li></li>
		</ul>
		<img src="images/slide-1.jpg" alt="">
	</section>

	
</body>

</html>