<html>
<head>
	<meta charset="UTF-8">
	<title>Component 4</title>

	<link href="css/component.css" rel="stylesheet" type="text/css">
	<link href="css/tags.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

</head>

<body>

	<section id="new-products">

		<h1>New Products</h1>
		
		<ul id='products'>

			<li>
				<a href="">
					<figure>
						<img src="images/img1.jpg" alt="">
						<figcaption>FULL TOP WITH HALTER NECK</figcaption>
						<p class="price">$25.00</p>
						<span class="tag new">New</span>
					</figure>
				</a>
			</li>

			<li>
				<a href="">
					<figure>
						<img src="images/img2.jpg" alt="">
						<figcaption>LINEN SHIRT</figcaption>
						<p class="price">
							<span class="old-price">$62.00</span> 
							<span class="special-price">$55.00</span>
						</p>
						<span class="tag new">New</span>
						<span class="tag sale">Sale</span>
					</figure>
				</a>
			</li>

			<li>
				<a href="">
					<figure>
						<img src="images/img3.jpg" alt="">
						<figcaption>UNEVEN HEM TOP</figcaption>
						<p class="price">$15.00</p>
						<span class="tag new">New</span>
					</figure>
				</a>
			</li>

			<li>
				<a href="">
					<figure>
						<img src="images/img4.jpg" alt="">
						<figcaption>STRIPED COTTON SHIRT</figcaption>
						<p class="price">$36.00</p>
						<span class="tag new">New</span>
					</figure>
				</a>
			</li>

		</ul>

	</section>
	
</body>

</html>