<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Component 3</title>

  <!--styles needed for demo-->
  <link rel="stylesheet" href="css/styles.css">

  <!--required stylesheet for plugin-->
  <link rel="stylesheet" href="component.css">

  <!--required javascript dependencies-->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>

	$(document).ready(function($){
        var parPosition = [];
        $('.par').each(function() {
            parPosition.push($(this).offset().top);
        });
        
		$('a').click(function(){
			$('html, body').animate({
				scrollTop: $( $.attr(this, 'href') ).offset().top
			}, 500);
			return false;
		});
        
        $(document).on('scroll', function() {
            var position = $(document).scrollTop(),
                index;
            
            for (var i=0; i<parPosition.length; i++) {
                if (position <= parPosition[i]) {
                    index = i;
                    break;
                }
            }
            
            $('.navigation ul li a').removeClass('active');
            $('.navigation ul li a:eq('+index+')').addClass('active');
        });
        
        	$('.navigation ul li a').click(function () {
			$('.navigation ul li a').removeClass('active');
				$(this).addClass('active');
		});   
	});


   </script>
</head>
<body>

 <div class="navigation">
	 <ul>
        <li><a href="#one">one</a></li>
        <li><a href="#two">two</a></li>
        <li><a href="#three">three</a></li>
          <li><a href="#four">four</a></li>
     
     </ul>
  </div>	

<div id="wrapper">

<div id="one" class="par">
    <h1>Game Design M.S.</h1>    
The video game industry is expanding into a variety of areas, reaching a broader audience than ever before. Big-budget genres such as first-person shooters, online role-playing games, rhythm games, and sports titles provide gamers with sophisticated gameplay, graphics, and storylines that could hardly have been imagined a decade ago. At the same time, the indie game space is rich with titles exploring a variety of unique themes and mechanics, and the social, mobile, educational, and simulation markets are becoming increasingly visible and profitable.
The gaming industry relies on the combined talents of producers, designers, artists, programmers, and usability and quality assurance experts to create games to meet the tastes of these diverse audiences. Full Sail’s Game Design master’s degree program is designed to prepare students with the leadership skills and knowledge needed to pursue roles in many aspects of the development process, shaping the next generation of innovation in gaming.
The program’s specialized courses focus on core concepts in teamwork, project development, design and prototyping, and usability, as well as a grounding in different types of software. Through this curriculum, you’ll learn practical applications of the game development process from both the technical and managerial sides.
In the final months of the program, you’ll bring that balanced knowledge together as you work toward your capstone. You’ll take part in an immersive game development experience within Full Sail’s professional-level studios in which you’ll work in teams to craft client and student-driven projects for a variety of platforms. As you explore core development roles, and experience what it means to lead and participate within teams throughout different stages of the process, you’ll build the skills and knowledge required of development and management roles at a game studio.
</div>

<div id="two" class="par">  
	<h1>Entertainment Business M.S.</h1>    
Successful entrepreneurs in any field share a few key attributes: creativity, passion, leadership, and an ability to think outside of the box. For innovators in the entertainment industry, these traits aren’t just beneficial – they’re essential. The opportunities in the business realm of the world of entertainment media are constantly expanding. Now, more than ever, there is a need for creative professionals to channel their vision and skills into an industry whose only limit is the imagination of its key players. 

With decades of experience preparing graduates for careers in the entertainment industry, Full Sail University has a unique perspective on the kind of skills you’re going to need to excel in the business, and we’ve applied that knowledge in crafting the curriculum for our Entertainment Business Master’s degree program.

Although the master’s degree covers a number of advanced business topics – Entertainment Business Finance, Advanced Entertainment Law, and more – your education won’t just take place in the classroom. By interacting with entertainment business and traditional business communities, you’ll build your professional network and hone your communication skills, as you learn firsthand how the industry’s leaders operate.
Through case studies and in-depth research of companies in your field of interest, you’ll gain a better understanding of what makes a successful business thrive. And throughout the course of the master’s degree program, guest speakers will share their experiences in the entertainment industry, giving you even more insight into how they’ve achieved success and overcome challenges. 

Near the end of the Entertainment Business Master’s degree program, you’ll craft your Business Plan Final Project, which will serve as a representation of the skills and knowledge that you’ve built throughout your courses. This detailed proposal for your own entertainment or media company will be an invaluable tool at your disposal – one that can be used to present to potential business partners or investors as you move forward in transforming your dream into a reality.</div>

<div id="three" class="par">  
	<h1>Cloud Technologies B.S.</h1>    
<p>As the world continues to depend more and more on technology to communicate and do business, professionals who help companies manage and maintain their data are continually in demand. Thanks to the exponential growth of this data, the focus in information technology has shifted to virtualization – “the cloud” – and those in the IT field now need a skill set that can facilitate this shift.
If you want to prepare for one of the most vital roles in the tech industry, the Cloud Technologies bachelor of science degree program can introduce you to concepts surrounding systems administration and the virtualization of data, helping you to develop the skills in high demand in today’s workforce.
In this accelerated bachelor’s program, you’ll become familiar with cloud technologies used to handle and deliver media-rich information to businesses and institutions around the globe. Your courses and projects will familiarize you with the various tools and interpretive scripting languages that leverage the use of software-defined data centers, or clouds.
The program’s curriculum centers on topics including virtualization achievement, object-oriented programming, scripting languages, API use, and system management to provision various modules. This will teach you how to implement current technologies to provide software-driven data and information virtualized solutions that can deliver securely distributed data efficiently and effectively.
Through this hands-on curriculum, you will gain real-world experience designing and developing your own cloud to remotely service the complex needs of today’s technology industries. You’ll also gain the critical-thinking and professional skills necessary for effectively communicating these solutions to business owners, enabling your future success in the world of IT.</p></div>
<div id="four" class="par">  
	<h1>Film Production M.F.A.</h1> 
Bringing films from concept to completion requires a skill set in both art and technology. Innovations in techniques, communication, and distribution channels have leveled the playing field for independent filmmakers, but the core elements of a compelling film remain the same.
In Full Sail University’s Film Production master of fine arts program, you’ll receive an advanced education in behind-the-scenes filmmaking, working in teams to complete real films. Your educational experience centers on fundamentals such as storytelling, visual aesthetics, and technical roles, as well as the techniques and business strategies needed to bring your completed works to audiences.
Your courses and projects will help you understand what makes a film successful from both artistic and marketability perspectives. Through project-based course content that’s aligned with the real-world film production cycle, you’ll learn how to assess the dramatic and commercial viability of a film script, develop the necessary planning required for film production, manage talent and produce a film, and understand the legal and business considerations of filmmaking.
You’ll develop advanced filmmaking skills in Full Sail’s professional studios and facilities – including a Hollywood-style backlot – and get familiar with industry equipment, software and technology. This will all come together as you build a graduate-level visual portfolio to showcase your talents.</div>

</div>

</body>
</html>