<html>
<head>
	<meta charset="UTF-8">
	<title>Component 3</title>

	<link href="component.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

</head>

<body>
		<nav class="row-box-container">
			<article class="big-box-left">
				<a href="">
					<img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-5.jpg">
					<div class="content-center">
						<div class="main-text">Buy 2 items <b>Get one</b></div>
						<div class="sub-text">for free</div>
						<span class="list-marker">Shop now!</span>
					</div>
					<div class="ripple-effect"></div>
				</a>
			</article>
			<article class="boxes-right">
				<ul>
					<li>
						<a href="">
							<img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png">
							<div>
								<div class="main-text">Free <b>shipping</b></div>
								<div class="sub-text">on orders over $99.</div>
								<div class="caption-text">This offer is valid on all our store items. </div>
							</div>
							<div class="ripple-effect"></div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png">
							<div>
								<div class="sub-text">Cod</div>
								<div class="main-text">Cash <b>on delivery</b></div>
							</div>
							<div class="ripple-effect"></div>
						</a>
					</li>
				</ul>
				<ul>
					<li>
					<a href="">
						<img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png">
						<div>
							<div class="main-text">Order <b>Return</b></div>
							<div class="sub-text">Returns within 14 days</div>
						</div>
						<div class="ripple-effect"></div>
					</a>
					</li>
					<li class="color-bg-1">
						<a href="">
							<img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png">
							<div>
								<div class="big-bold-text">75% off</div>
								<strong class="list-marker">Shop now!</strong>
							</div>
							<div class="ripple-effect"></div>
						</a>
					</li>
				</ul>
			</article>
		</nav>
	
</body>

</html>