/* Component Stylesheet 
============================================================
============================================================*/

body {

}

.navigation{
-webkit-backface-visibility: hidden;
z-index: 5;
position: fixed;
top: 50%;
right: 16px;
margin-top: -40px;
}


.navigation li{
height: 20px;
}

.navigation a{
display: block;
width: 13px;
height: 13px;
text-indent: -9999px;
border-radius:25px;
background-color:#3498db;
}

.navigation a:hover{
border-radius:25px;
background-color:#2ecc71;
}
.navigation a.active{
border-radius:25px;
background-color:#27ae60;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	word-break: keep-all;
	color: #000000;
}
p {
	color: #000000;
	text-align: left;
	word-break: keep-all;
}
h1 {
	font-size: 45px;
	color: #000000;
	font-family: 'Lato', sans-serif;
}
