<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Mohammad Khan</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	
</head>
<body>

<h2 style="margin:150px auto 30px auto; text-align:center; color:#fff; font-family: 'Lato';">Posts</h2>

<div id="container">

  <div class="grow pic">
    <img src="http://m.fullsail.edu/alfresco/ROOT/Shared%20Content/_Media/campus-explorer/full-sail-studios/837x470/full-sail-studios-8-5310_837x470.jpg" alt="">
    <h1>Recording Studio</h1>
  </div>

  <div class="grow pic">
    <img src="http://www.internationalstudent.com/uploads/school-search/images/live/2524/school/20120504090714_1.jpg" alt="">
    <h1>Campus</h1>
  </div>

  <div class="grow pic">
    <img src="https://media.glassdoor.com/l/d3/03/1f/00/cintiq-lab.jpg" alt="">
    <h1>Labs</h1>
  </div>

  <div class="grow pic">
    <img src="http://m.fullsail.edu/alfresco/ROOT/Shared%20Content/_Media/campus-explorer/full-sail-studios/580x326/full-sail-studios-4-4435_580x326.jpg" alt="">
    <h1>Concerts</h1>
  </div>
 
</div>
</body>
</html>