<html>
<head>
	<meta charset="UTF-8">
	<title>Component 2</title>
	<link href="component.css" rel="stylesheet" type="text/css">
	<link href="responsive.css" rel="stylesheet" type="text/css">

</head>
<body>

	<section class="lazy-load-box effect-slidetop" data-delay="0" data-speed="600" style="transition: all 600ms ease; opacity: 1;">
		<div class="row ">
			<div class="span3 ">
				<div class="title-box clearfix right">
					<h2 class="title-box_primary">
						<strong>Plans &amp;</strong> pricing
					</h2>
				</div> 
				<p style="text-align: right;">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
			</div>
			<div class="span9 "><div class="price-plans price-plans-3 ">
				<div class="plan ">
				<h3>Start Up </h3>
				<h4><span class="currency_symbol">$</span>29 <span class="interval">1 job for 30 days</span></h4>
				<div class="plan-container">
					<div class="plan-features-row odd">One Time Fee</div>
					<div class="plan-features-row">Allows 5 Job Postings</div>
					<div class="plan-features-row odd">Highlighted Job Post</div>
					<div class="plan-features-row">Posted For 90 Days</div>
					<a href="http://livedemo00.template-help.com/wordpress_52547/incididunt-ut-labore/aliquam-erat-volutpat" title="Shop now!" class="btn btn-default btn-normal btn-inline  btn-from-left" target="_self"><span data-hover="Shop now!">Shop now!</span></a> 
				</div>
			</div>
			<div class="plan ">
				<h3>Enterprise </h3>
				<h4><span class="currency_symbol">$</span>69 <span class="interval">5 job for 90 days</span></h4>
				<div class="plan-container">
					<div class="plan-features-row odd">One Time Fee</div>
					<div class="plan-features-row">Allows 5 Job Postings</div>
					<div class="plan-features-row odd">Highlighted Job Post</div>
					<div class="plan-features-row">Posted For 90 Days</div>
					<a href="http://livedemo00.template-help.com/wordpress_52547/et-dolore-magna-aliqua/donec-tempor-libero" title="Shop now!" class="btn btn-default btn-normal btn-inline  btn-from-left" target="_self"><span data-hover="Shop now!">Shop now!</span></a> 
				</div>
			</div>
			<div class="plan ">
				<h3>Company </h3>
				<h4><span class="currency_symbol">$</span>329 <span class="interval">2 job for 30 days</span></h4>
				<div class="plan-container">
					<div class="plan-features-row odd">One Time Fee</div>
					<div class="plan-features-row">Allows 5 Job Postings</div>
					<div class="plan-features-row odd">Highlighted Job Post</div>
					<div class="plan-features-row">Posted For 90 Days</div>
					<a href="http://livedemo00.template-help.com/wordpress_52547/incididunt-ut-labore/aliquam-erat-volutpat" title="Shop now!" class="btn btn-default btn-normal btn-inline  btn-from-left" target="_self"><span data-hover="Shop now!">Shop now!</span></a> 
				</div>
			</div>
			</div></div>
		</div>  
	</section>
	
</body>
</html>