h1 {
	line-height: 1.5;
	font-family: "Ubuntu", sans-serif;
	color: rgb(51,51,51);
	font-size: 31.2px;
	text-align: center;
	font-weight: 300;
}

#new-products ul {
	list-style: none;
}

#new-products ul li {
	display: inline-block;
	margin: 20px;
}

#new-products ul li figure {
	margin: 0;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}


#new-products ul li a {
	text-decoration: none;
	color: rgb(136, 136, 136);
}

#new-products ul li figure img {
	margin-bottom: 25px; 
	font-size: 14px;
	line-height: 21px;
}

figcaption {
    margin-bottom: 4px;
    text-transform: uppercase;
}

.price {
    color: #0ab3a3;
    font-size: 20px;
    font-weight: 300;
}

.old-price {
    color: #888;
    text-decoration: line-through;
    font-size: 15px;
}

.special-price {
    color: #fd6b6b;
}